<% include _inc/header.ejs %>

<div class="headline">
    <h1>Dashboard</h1>
</div>

<div class="highlight">
  <div class="hl-cont col-sm-4 col-xs-12">
    <div class="hl-stocks">
      <div class="col-xs-9 hl-details">
        <div class="hl-count">21</div>
        <div class="hl-category">Total Stocks</div>
        <div class="hl-update">01/01/2018 10:00:00 | Admin</div>
      </div>
      <div class="col-xs-3 hl-icon">
        <i class="fas fa-tachometer-alt icon fa-6x"></i>
      </div>
    </div>
  </div>
  <div class="hl-cont col-sm-4 col-xs-12">
    <div class="hl-uaItems">
      <div class="col-xs-9 hl-details">
        <div class="hl-count">0</div>
        <div class="hl-category">Un-assigned Items</div>
        <div class="hl-update">01/01/2018 10:00:00 | Admin</div>
      </div>
      <div class="col-xs-3 hl-icon">
        <i class="fas fa-archive icon fa-6x"></i>
      </div>
    </div>
  </div>
  <div class="hl-cont col-sm-4 col-xs-12">
    <div class="hl-users">
      <div class="col-xs-9 hl-details">
        <div class="hl-count">21</div>
        <div class="hl-category">Total Users</div>
        <div class="hl-update">01/01/2018 10:00:00 | Admin</div>
      </div>
      <div class="col-xs-3 hl-icon">
        <i class="fas fa-users icon fa-6x"></i>
      </div>
    </div>
  </div>
</div>

<div class="quicklinks">
  <h3>Quick Links</h3>
  <div class="ql-cont">
    <div class="ql-assign ql-wrap">
      <div class="ql-icon"><i class="fas fa-cart-arrow-down icon fa-5x"></i></div>
      <div class="ql-title">Assign Item to User</div>
    </div>
    <div class="ql-assign ql-wrap">
      <div class="ql-icon"><i class="fas fa-tag icon fa-5x"></i></div>
      <div class="ql-title">Add Assets</div>
    </div>
    <div class="ql-assign ql-wrap">
      <div class="ql-icon"><i class="fas fa-user-plus icon fa-5x"></i></div>
      <div class="ql-title">Add Users</div>
    </div>
    <div class="ql-assign ql-wrap">
      <div class="ql-icon"><i class="fas fa-print icon fa-5x"></i></div>
      <div class="ql-title">Generate Report</div>
    </div>
  </div>
</div>

<% include _inc/footer.ejs %>
