<div class="col-sm-1 sidebar">
  <div class="nav-side">
    <ul class="nav-custom">
      <li>
        <a class="ic dashboard" href="/">
            <i class="fas fa-tachometer-alt icon fa-3x"></i>
            <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a class="ic inventory" href="/inventory">
          <i class="fas fa-archive icon fa-3x"></i>
          <span>Inventory</span>
        </a>
      </li>
      <li>
        <a class="ic stocks" href="/stocks">
          <i class="fas fa-tags icon fa-3x"></i>
          <span>Stocks</span>
        </a>
      </li>
      <li>
        <a class="ic users" href="/users">
          <i class="fas fa-users icon fa-3x"></i>
          <span>Users</span>
        </a>
      </li>
      <li>
        <a class="ic reports">
          <i class="fas fa-chart-line icon fa-3x"></i>
          <span>Reports</span>
        </a>
      </li>
    </ul>
  </div>
</div>
